<script lang="ts" setup>
interface A {
  getData: any;
  count: any;
  increment: any;
}
import Son from "./Son.vue";
import { useCounterStore } from "~/store/counter";
const state = useStorage('my-store', { hello: 'hi', greeting: 'Hello' }, sessionStorage)
const counter: A = useCounterStore()
const childRef = ref<any>();
const values = ref(666);

onMounted(async () => {
  const res = await counter.getData()
  console.log(res)
})

watch(values, (newValue, oldValue) => {
  console.log('侦听器>>>>', newValue, oldValue)
})
watchEffect(() => {
  console.log(counter.count)
})
const handleOk = (value: string) => {
  console.log(value);
};

const sonToFatherMethedEmit = (emitMsg: string, secondPar: string) => {
  console.log(emitMsg, secondPar);
};
const useSon = () => {
  nextTick(() => {
    childRef.value.doSth();
  })
}
</script>

<template>
  <div @click="useSon">{{values}}useson</div>
  <Son
    ref="childRef"
    :values="values"
    :name="'Tom'"
    :handleOk="handleOk"
    @sonToFatherEmit="sonToFatherMethedEmit"
  />
  <div @click="counter.increment()">{{ counter.count }}</div>
  <div @click="values++">{{ values }}</div>
</template>

<style scoped></style>
