<!--<script lang="ts" setup>-->
<!--const props = defineProps<{-->
<!--  values: string;-->
<!--  name: string;-->
<!--  handleOk: (a: string) => void;-->
<!--}>();-->

<!--const emits = defineEmits<{-->
<!--  (e: 'sonToFatherEmit', id: string, secondPar: string): void-->
<!--}>()-->
<!--const doSth = () => {-->
<!--  console.log('>>>>>>>>>>>>>>')-->
<!--}-->
<!--defineExpose({ doSth })-->
<!--console.log(emits);-->
<!--const click = () => {-->
<!--  props.handleOk('111111111111')-->
<!--  emits('sonToFatherEmit', "123", 'secondPar')-->
<!--}-->
<!--</script>-->
<script lang="ts">
import { defineComponent, ref } from "vue";
export default defineComponent({
  props: ["name", "values", "sonToFatherEmit", 'handleOk'],
  // methods: {
  //   doSth() {
  //     console.log('>>>>>>>>>>')
  //   }
  // },
  mounted() {
    console.log(this.name, this.values);
  },
  setup(props, ctx) {
    const doSth = () => {
      console.log('>>>>>>>>>>')
    }
    const value = ref<string>("");
    onMounted(() => {
      console.log(props);
    });
    const clicks = () => {
      ctx.emit("sonToFatherEmit", "xxxxxxxxxxx");
      props.handleOk('ccccccccc')
    };
    return {
      value,
      clicks,
      doSth
    };
  },
});
</script>
<template>
  <Button @click="clicks">++++++</Button>
  <Button @click="click">-------</Button>
  <div class="content">
    <div class="value"></div>
  </div>
</template>

<style scoped lang="less">
.content {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: aqua;
  .value {
    width: 100px;
    height: 100px;
    background: black;
  }
}
</style>
